#config {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow-y: scroll;
}

#config::-webkit-scrollbar {
  width: 0;
  display: none;
}

//Landscape screen in variety
@media only screen {
  //TVs and Extra Wide Screens
  @media (min-width: 1921px), (max-width: 1920px), (max-width: 1280px) {
    #config .sdevm {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 1vw;
      left: 1vw;
      font-size: 1.25rem;
      color: white;
    }

    #config .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      padding: 2vw;
      width: 50vw;
      height: 50vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      line-height: 200%;
      color: black;
      border: 5px solid #44aa44;
      background: #77cc77;
    }

    #config .menu .spread {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 1% 0 1%;
    }

    #config .menu .continue:hover {
      cursor: pointer;
    }

    #config .menu .spread:hover {
      cursor: pointer;
      background: #0004;
    }

    #config .menu .spread img {
      height: 40px;
    }

    #footer {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 0.25rem;
      padding: 5px;
      color: white;
    }
  }
  //Forced vertical
  @media (max-width: 720px), (orientation: portrait) {
    #config .sdevm {
      position: absolute;
      width: fit-content;
      height: fit-content;
      top: 1vw;
      left: 1vw;
      font-size: 1.25rem;
      color: white;
    }

    #config .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      padding: 2vw;
      width: 90vw;
      height: 50vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1rem;
      line-height: 200%;
      color: black;
      border: 5px solid #44aa44;
      background: #77cc77;
    }

    #config .menu .spread {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 1% 0 1%;
    }

    #config .menu .continue:hover {
      cursor: pointer;
    }

    #config .menu .spread:hover {
      cursor: pointer;
      background: #0004;
    }

    #config .menu .spread img {
      height: 40px;
    }

    #footer {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 0.25rem;
      padding: 5px;
      color: white;
    }
  }
}
